<div id="main-container">
	<div id="breadcrumb">
		<ul class="breadcrumb">
			 <li><i class="fa fa-home"></i><a href="dashboard.html"> Home</a></li>
			 <li class="active">Pagamento</li>	 
		</ul>
	</div><!-- breadcrumb -->

	<div class="row padding-md ">
		<div class="col-md-12">
			<div class="page-title">
				<h3 class="no-margin">Contrate um de nossos planos para começar a usar a Produzz</h3>
				<h5>
					<br>
					1. Escolha o plano de acordo com o volume de pedidos e videos que deseja enviar para seus clientes. Nós temos planos para todos os tamanhos de empresas.
					<br><br>
					2. Cadastre sua empresa para que possamos gerar sua cobrança e emitir sua nota fiscal. O e-mail deve ser o mesmo do seu login na Produzz.
					<br><br>
					3. Faça o pagamento de seu boleto bancário. Em até 72 horas úteis seus créditos estarão disponíveis.
					<br><br>
					ATENÇÃO: para que seu pagamento seja identificado, faça o cadastro de sua empresa com o mesmo e-mail do seu login.	
					<br><br>				
				</h5>
				
				<h5 class="grey" id="emailInfo">E-mail: {{contato.login}}</h5>
			</div><!-- /page-title -->
		</div>
	</div>
</div><!-- /main-container -->
