<div id="main-container">
	<div id="breadcrumb">
		<ul class="breadcrumb">
			 <li><i class="fa fa-home"></i><a href=""> Home</a></li>
			 <li class="active">Upload</li>
		</ul>
	</div><!-- /breadcrumb-->

	<div class="main-header clearfix">
		<div class="page-title">
			<h3 class="no-margin">UPLOAD</h3>
		</div><!-- /page-title -->
	</div><!-- /main-header -->

	<div class="padding-md">
		<div class="row">
			<div class="col-sm-4 content-padding col-md-10">
				<h5>01. Selecione as plataformas para publicação.</h5>
			</div>
		</div><!-- /.row -->
		<div class="row">
			<div class="col-sm-4 content-padding col-md-2">
				<div class="feature-icon text-center">
					<img src="img/ico_youtube_100x100.png" alt="YouTube"/>
				</div>
				<div class="text-center font-lg">
					<h5>YouTube</h5>
				</div>
				<div class="text-center font-lg">
				</div>					
			</div><!-- /.col -->
			<div class="col-sm-4 content-padding col-md-2">
				<div class="feature-icon text-center">
					<img src="img/ico_facebook_100x100.png" alt="YouTube"/>
				</div>
				<div class="text-center font-lg">
					<h5>Facebook</h5>
				</div>
				<div class="text-center font-lg">
				</div>					
			</div><!-- /.col -->
		</div><!-- /.row -->

		<div class="seperator"></div>

		<div class="row">
			<div class="col-sm-4 content-padding col-md-10">
				<h5>02. Selecione os vídeos para publicar.</h5>
			</div>		
		</div><!-- /.row -->

		<div class="panel panel-default">
			<!-- div class="panel-heading">
				File Upload
			</div-->
			<div class="panel-body">
				<fieldset class="form-horizontal form-border">
					<div class="form-group">
						<div class="col-lg-10">
							<div ng-controller="uploadCtrl">
								<div id="dropzone" class="dropzone" options="dzOptions" callbacks="dzCallbacks" ng-dropzone></div>
							</div>
						</div><!-- /.col -->
					</div><!-- /form-group -->
				</fieldset>
			</div>
		</div><!-- /panel -->
	</div><!-- /.padding-md -->
</div><!-- /main-container -->
